html {
    background-color: rgb(142, 255, 255);
}
.p {
    background-color: rgb(243, 215, 243);
    color: black;
}
.b {
    background-color: rgb(142, 255, 255);
   
}

section {
    background-color: rgb(142, 255, 255);
}

body {
    background-color: rgb(142, 255, 255);
}

